body{
    background-color: hsl(300, 80%, 83%);
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 15px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.8)
}
.accordeon{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
.accordeon div {
    display: flex;
    justify-content: space-between;
}
div p{
    display: none;
}
div button{
    border: none;
    font-size: 30px;
    color: hsl(300, 80%, 83%);
    width: 50px;
    background-color: transparent;
    cursor: pointer;

}
.showAcc{
    display: block;
}